#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: black solid 1px;
    width: 400px;
    height: 400px;
}

.cell {
    border: black solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}